{% extends 'base.html' %}
{% load event_users %}

{% block content %}
    <div class="container py-sm-3">
        <div class="row justify-content-center text-light my-3">
            <div class="col-md-10 bg-dark my-2 ">
                <div class="row">
                    <div class="col-md-8 py-2">
                        <h3>{{ event_item.name }}</h3>

                        {% autoescape off %}
                            <p class="card-text">{{ event_item.content | linebreaks }}</p>
                        {% endautoescape %}
                    </div>

                    <div class="col-md-4 py-2" style="background: #292929">
                        <div class="row py-2">
                            <div class="col"><h4>{{ event_item.starting_at|default_if_none:"---" }}</h4></div>
                        </div>
                        {% if  event_item.event_is_over %}
                            <div class="row py-2">
                                <div class="col"><h4>Мероприятие окончено</h4></div>
                            </div>
                        {% endif %}
                        <div class="row py-2">
                            <div class="col-md-4">Стоимость</div>
                            <div class="col">{{ event_item.price|default_if_none:"Бесплатно" }}</div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-4">Место проведения</div>
                            <div class="col">{{ event_item.location_description|default_if_none:"---" }}</div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-4">Окончание регистрации</div>
                            <div class="col">{{ event_item.close_reg_at|default_if_none:"---" }}</div>
                        </div>
                        <div class="row py-2">
                            <div class="col">

                                {% if  event_item.reg_is_over or event_item.event_is_over %}
                                    <div class="btn btn-primary stretched-link" style="width: 100%; background-color: #6f747e; border-color: #6f747e">Регистрация завершена</div>
                                {% else %}
                                    {% if request.user.is_authenticated %}
                                        {% if user_is_registered %}
        {#                                    <a href="{% url 'events_register' event_item.pk %}" class="btn btn-primary stretched-link mb-2" style="width: 100%">Статус регистрации</a>#}
                                            <a href="{% url 'events_cancel' event_item.pk user_event.pk %}"
                                               class="btn btn-primary stretched-link" style="width: 100%">Отменить регистрацию</a>
                                        {% else %}
                                            <a href="{% url 'events_register' event_item.pk %}"
                                               class="btn btn-primary stretched-link" style="width: 100%">Я пойду</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        {% get_event_users user event_item.pk as reg_users %}
                        {% if reg_users.count > 0 %}
                            <a href="{% url 'view_event_users' event_item.pk %}" target="_blank">Список игроков:</a>
                            <div class="row py-2">
                                <div class="col">
                                    <div class="row row-cols-3 text-center">

                                        {% for reg_user in reg_users %}
                                            <div class="col">

                                                {% if reg_user.profile.photo %}
                                                    <img src="https://w7.pngwing.com/pngs/633/817/png-transparent-computer-icons-military-soldier-military-backpack-swat-soldier-police-thumbnail.png"
                                                         alt="Avatar" class="avatar mb-1">
                                                {% else %}
                                                    <img src="https://cdn1.iconfinder.com/data/icons/society-profession-avatar/1024/Society_Profession_Avatar_I-03-512.png"
                                                         alt="Avatar" class="avatar mb-1">

                                                {% endif %}
{#                                                {% if reg_user.profile.team_alias %}#}
{#                                                    <p>{{ reg_user.profile.team_alias }}</p>#}
{#                                                {% else %}#}
                                                    <p>{{ reg_user.first_name }} {{ reg_user.last_name }}</p>
{#                                                {% endif %}#}
                                            </div>

                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}