{% extends 'base.html' %}
{% load static %}
{% load event_users %}

{% block content %}
    {{ event_item.pk|json_script:"event_id" }}
    {% url 'events_register' event_item.pk as events_register_url %}
    {{ events_register_url|json_script:"events_register_url" }}

{#    <div class="row py-2">#}
{#        <a href="{% url 'view_event_users' event_item.pk %}?cancel_table=true"#}
{#           class="btn btn-primary stretched-link"#}
{#           style="width: 100%;"#}
{#        >#}
{#            Подтвердить присутсвие#}
{#        </a>#}
{#    </div>#}


    <div class="container py-sm-3">
        <div class="row justify-content-center text-light my-3">
            <div class="col-md-10 bg-dark my-2 ">
                <div class="row">
                    <div class="col-md-8 py-2">
                        <h3>{{ event_item.name }}</h3>

                        {% autoescape off %}
                            <p class="card-text">{{ event_item.content | linebreaks }}</p>
                        {% endautoescape %}
                    </div>

                    <div class="col-md-4 py-2" style="background: #292929">
                        <div class="row py-2">
                            <div class="col"><h4>{{ event_item.starting_at|default_if_none:"---" }}</h4></div>
                        </div>
                        {% if  event_item.event_is_over %}
                            <div class="row py-2">
                                <div class="col"><h4>Мероприятие окончено</h4></div>
                            </div>
                        {% endif %}
                        <div class="row py-2">
                            <div class="col-md-4">Стоимость</div>
                            <div class="col">{{ event_item.price|default_if_none:"Бесплатно" }}</div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-4">Место проведения</div>
                            <div class="col">{{ event_item.location_description|default_if_none:"---" }}</div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-4">Окончание регистрации</div>
                            <div class="col">{{ event_item.close_reg_at|default_if_none:"---" }}</div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-4">Участвуют</div>
                            <div class="col">{{ users_count }} игроков</div>
                        </div>
                        <div class="row py-2">


                            {% comment %} Блок с кнопкой регистрации на игру  {% endcomment %}
                            <div class="col">


                                {% if event_item.reg_is_over or event_item.event_is_over %}

                                    <div class="py-2">
                                        <div class="reg-closed btn"
                                             style="width: 100%;">
                                            Регистрация завершена
                                        </div>
                                    </div>

                                    {% comment %} После меро можно отметить присутсвующих  {% endcomment %}
                                    {% if request.user|has_group:"GroupLeaders" %}
                                        <div class="py-2">
                                            <button class="btn btn-primary" style="width: 100%;"
                                                    onclick="window.open(`{% url 'view_event_users' event_item.pk %}?cancel_table=true`, `_blank`)">
                                                Подтвердить присутсвие
                                            </button>
                                        </div>
                                    {% endif %}

                                {% else %}
                                    {% if request.user.is_authenticated %}
                                        {% if user_event.user_status == 0 %}

                                            <a href="javascript:addTextField()"
                                               class="reg-refuse btn stretched-link"
                                               style="width: 100%">Отменить
                                                регистрацию</a>

                                        {% else %}

                                            <div class="row py-2">
                                                <div class="{% if user_event == None %}col-8 {% else %} col {% endif %}">
                                                    <a href="{% url 'events_register' event_item.pk %}"
                                                       class="btn btn-primary stretched-link" style="width: 100%">Я пойду</a>
                                                </div>
                                                {% if user_event == None %}
                                                    <div class="col">
                                                        <a href="javascript:addTextField();"
                                                           class="reg-refuse btn stretched-link" style="width: 100%">Не еду</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>


                        </div>

{#                        <div class="row-py-2">#}
{#                            <div class="col">#}
{#                                <div class="form-group">#}
{#                                    <label for="exampleFormControlTextarea1">Указание причины</label>#}
{#                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}


                        {% comment %} Блок с зарегистрированными пользователями {% endcomment %}

                        {% get_event_users user event_item.pk as reg_users %}
                        {% if reg_users.count > 0 %}
                            <a href="{% url 'view_event_users' event_item.pk %}" target="_blank">Список игроков:</a>
                            <div class="row py-2">
                                <div class="col">
                                    <div class="row row-cols-3 text-center">

                                        {% for reg_user in reg_users %}
                                            <div class="col">

                                                {% if reg_user.profile.photo %}
                                                    <img src="https://w7.pngwing.com/pngs/633/817/png-transparent-computer-icons-military-soldier-military-backpack-swat-soldier-police-thumbnail.png"
                                                         alt="Avatar" class="avatar mb-1">
                                                {% else %}
                                                    <img src="https://cdn1.iconfinder.com/data/icons/society-profession-avatar/1024/Society_Profession_Avatar_I-03-512.png"
                                                         alt="Avatar" class="avatar mb-1">

                                                {% endif %}
{#                                                {% if reg_user.profile.team_alias %}#}
{#                                                    <p>{{ reg_user.profile.team_alias }}</p>#}
{#                                                {% else %}#}
                                                    <p>{{ reg_user.first_name }} {{ reg_user.last_name }}</p>
{#                                                {% endif %}#}
                                            </div>

                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script src="{% static 'js/events/events_comment.js' %}"></script>
{% endblock %}