{% extends 'base.html' %}


{% block content %}
    <div class="container py-sm-3">
        <div class="row justify-content-center text-light">
            {% for event in events %}
                <div class="col-md-10 bg-dark pt-3 pb-1 my-2 ">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>{{ event.name }}</h4>
                            <p>Опубликовано: {{ event.created_at }}</p>
                        </div>
                        <div class="col-md-2 text-center">
                            {% if event.starting_at %}
                                <h4>{{ event.starting_at|date:"d.m.Y" }}</h4>
                            {% endif %}
                        </div>

                        <div class="col-md-2 text-center">
                            <a href="{{ event.get_absolute_url }}">Открыть</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row justify-content-center text-light">
            <div class="col-md-10 pt-3 pb-1 my-2 ">
                {% include 'inc/_paginator.html' %}
            </div>
        </div>
    </div>



{% endblock %}