.name_colunm_awards {
  width: 25%;
}

.descr_colunm_awards {
  width: 50%;
}

.id_colunm {
  width: 5%;
  text-align: center;
}

tr:nth-child(2n) {
  background: #282d32;
}

.awards_table {
  background: #303030;
  max-width: 1100px;
  margin: 15px auto;
}

tr:hover {
  background: #19444d;
}

.awards_table td {
  border-right: 1px solid #444444;
}

.awards_table {
}

