{% extends 'base.html' %}
{% load static %}

{% block title %}
    О команде :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="projects-horizontal text-light bg-dark">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">СК "Спираль"</h2>
                <p class="text-center">Российская страйкбольная команда, Москва</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 about-blocks">
                    <h3 class="name">История создания</h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid"
                                                                         src="{% static 'img/about_cards/history_team.jpg' %}"></a>
                        </div>
                        <div class="col">
                            <p class="description">
                                Страйкбольная команда «Спираль» начиналась как небольшой коллектив школьных друзей, объединённых общим увлечением- игрой в страйкбол.
Официальной датой рождения команды считается 9 Сентября 2013 года, когда был принят первый свод правил, окончательно утвердилось название «Спираль» и сменился вектор развития на моделирование современных мотострелковых войск России.
</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 about-blocks">
                    <h3 class="name">Развитие</h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid sm"
                                                                         src="{% static 'img/about_cards/growth_img.jpg' %}"></a>
                        </div>
                        <div class="col">
                            <p class="description">С тех пор состав команды заметно расширился, пополнилась материальная
                                и техническая база, накоплен опыт, а Февраля 2019 года приняты последние правки в
                                командный устав. И всё под руководством старожил, которые активно продолжают развивать
                                командный коллектив и участвовать в его жизни с момента зарождения.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 about-blocks">
                    <h3 class="name">Экипировка</h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid"
                                                                         src="{% static 'img/about_cards/IMG_7164.jpg' %}"></a>
                        </div>
                        <div class="col">
                            <p class="description">Команда занимается моделированием собирательного образа
                                мотострелковых войск России. В рамках данного образа команда вооружается как лёгкими
                                страйкбольными приводами, так и более тяжёлым вооружением, включая автоматические
                                гранатомёты, миномёты и в перспективе игровой техникой. Каждый боец команды экипирован
                                комплектом экипировки "Ратник" в соответствии с выбранным направлением моделирования.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 about-blocks">
                    <h3 class="name">Перспективы развития</h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid"
                                                                         src="{% static 'img/about_cards/IMG_7350.jpg' %}"></a>
                        </div>
                        <div class="col">
                            <p class="description">После первичного накопления капитала и матчасти в общекомандную
                                собственность, перед СК в 2021 году стоит нетривиальная задача:
                                в условиях кризиса обеспечить команду собственным транспортом, нарастить количество
                                личного состава на воскресках до взвода и повысить качество ТО приводов в общекомандной
                                собственности.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-boxed bg-dark text-light">
        <div class="container">
            <div class="intro"></div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box bg-secondary"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">5 полигонов</h3>
                        <p class="description">Для воскресных тренировок регулярно посещаются 5 различных полигона</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box bg-secondary"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">7 лет</h3>
                        <p class="description">Столько существует команда с момента основания</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box bg-secondary"><i class="icon ion-ios-people icon fa"></i>
                        <h3 class="name">50 человек</h3>
                        <p class="description">Которые составляют три командных отделения</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}