{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="carousel_mainpage">
    <div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner" id="car_inner">
            <div class="carousel-item active"><img class="w-100 d-block" src="{% static 'img/main_sliders/IMG_7293_res.jpg' %}" alt="Slide Image"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/main_sliders/IMG_7563_res.jpg' %}" alt="Slide Image"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/main_sliders/IMG_7509_res.jpg' %}" alt="Slide Image"></div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button"
                                                                                                                                                                                             data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>
    </div>
</div>
<div id="main_cards">
    <div class="card-group">
        <div class="card" style="margin-right: 7px;"><img class="card-img-top w-100 d-block" src="{% static 'img/main_cards/team_res.jpg' %}">
            <div class="card-body">
                <h4 class="card-title">Команда</h4>
                <p class="card-text">Команда СК "Спираль" активно участвует в тренировках. Постоянное количество участников, посещающих занятия больше, чем среднее у команд</p><button class="btn btn-primary" type="button" style="width: 100%;">Button</button></div>
        </div>
        <div class="card" style="margin-right: 10px;"><img class="card-img-top w-100 d-block" src="{% static 'img/main_cards/IMG_7341_res.jpg' %}">
            <div class="card-body">
                <h4 class="card-title">Новости</h4>
                <p class="card-text">Новости нашей команды и мировые значимые события</p><button class="btn btn-primary" type="button" style="width: 100%;">Button</button></div>
        </div>
        <div class="card"><img class="card-img-top w-100 d-block" src="{% static 'img/main_cards/IMG_7164_res.jpg' %}">
            <div class="card-body">
                <h4 class="card-title">Учебный материал</h4>
                <p class="card-text">Постоянно пополняемая база учебных материалов от старой школы военной подготовки и реальных бойцов ВС России.</p><button class="btn btn-primary" type="button" style="width: 100%;">Button</button></div>
        </div>
    </div>
</div>
{% endblock %}