{% extends 'base.html' %}

{% block title %}
    Награды :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="awards_table">
        <div class="table-responsive" style="overflow-x:hidden;">
            <table class="table">
                <thead>
                <tr>
                    <th class="id_colunm">id</th>
                    <th>Картинка</th>
                    <th class="name_colunm_awards">Название</th>
                    <th class="descr_colunm_awards">Описание</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                    <tr>

                        <td>{{ item.id }}</td>
                        {% if item.image %}
                            <td><img src="{{ item.image.url }}" alt="" style="height: 64px" class="mr-3"></td></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a href="{{ item.get_absolute_url }}">
                            {{ item.name }}
                        </a></td>
                        <td>{{ item.description }}</td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}