{% extends 'base.html' %}

{% block title %}
    Награды :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="awards_table table-responsive-sm">
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"> Картинка</th>
                    <th scope="col"> Название</th>
                    <th scope="col"> Описание</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                    <tr>
                        {% if item.image %}
                            <td><img src="{{ item.image.url }}" alt="" style="height: 64px" class=""></td></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                        <td class="">{{ item.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{#                <tr>#}
{#                    <th scope="col">Картинка</th>#}
{#                    <th scope="col" class="name_colunm_awards">Название</th>#}
{#                    <th scope="col" class="descr_colunm_awards">Описание</th>#}
{#                </tr>#}