{% extends 'base.html' %}

{% block title %}
    Авторизация :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container py-sm-3">
        <div class="row justify-content-center">
            <div class="col-md-6 py-sm-3 bg-dark">
                <h1>Вход</h1>

                <form action="{% url 'login' %}" method="post" class="">
                    {% csrf_token %}
                    {{ form.non_field.errors }}
                    {#            {{ form.as_p }}#}
                    <div class="form-group row">
                        <label for="{{ form.username.id_for_label }}" class="col-md-3 col-form-label">Логин</label>
                        <div class="col-md-7">
                            {{ form.username }}
                            <div class="invalid-feedback" style="display: block">
                                {{ form.username.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="{{ form.password.id_for_label }}" class="col-md-3 col-form-label">Пароль</label>
                        <div class="col-md-7">
                            {{ form.password }}
                            <div class="invalid-feedback" style="display: block">
                                {{ form.password.errors }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="col btn btn-primary btn-block ">Вход</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

То, что для мобильных сверху
        <div class="card mb-3">
            <div class="card-header">
                Категория: <a href="{{ item.category.get_absolute_url }}"> {{ item.category.title }}</a>
            </div>
            <div class="d-sm-block d-md-none">
                {% if item.photo %}
                    <img src="{{ item.photo.url }}" alt="" width="50%" class="card-img mr-3">
                {% else %}
                    <img src="https://picsum.photos/350/235/?blur=2" width="50%" alt="" class="card-img mr-3">
                {% endif %}
            </div>

        то, что для обычнх сбоку типа
            <div class="card-body">
                <div class="media">
{#                    <div class="d-sm-none d-sm-block">#}
{#                        {% if item.photo %}#}
{#                            <img src="{{ item.photo.url }}" alt="" width="50%" class="card-img mr-3">#}
{#                        {% else %}#}
{#                            <img src="https://picsum.photos/350/235/?blur=2" width="50%" alt="" class="card-img mr-3">#}
{#                        {% endif %}#}
{#                    </div>#}
                    <div class="media-body">