{% extends 'base.html' %}
{% load users_tags %}

{% block title %}
    Профиль :: {{ block.super }}
{% endblock %}

{# TODO Можно всё заменить Генератором#}
{% block content %}
    <div class="container account-settings-container">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://cdn1.iconfinder.com/data/icons/society-profession-avatar/1024/Society_Profession_Avatar_I-03-512.png"
                                         alt="Maxwell Admin">
                                </div>
                                {% if user.profile.team_alias %}
                                    <h5 class="user-name">{{ user.profile.team_alias }}</h5>
                                {% else %}
                                    <h5 class="user-name">{{ user.username }}</h5>
                                {% endif %}
                                {% if user.profile.division %}<h6 class="user-email">{{ user.profile.division }}</h6>{% endif %}

                                {% if user.email %}<h6 class="user-email">{{ user.email }}</h6>{% endif %}

                                {% if user.profile.vk_link %}
                                    <div class="col item social">
                                        <a href="{{ user.profile.vk_link }}" target="_blank">
                                            <i class="icon-social-vkontakte"></i>
                                        </a>
                                    </div>
                                {% endif %}

                            </div>
                            {% if user.profile.role or user.profile.position %}
                                <div class="about">
                                    <h5 class="mb-2 text-primary">В команде</h5>
                                    <p>{{ user.profile.position }} |
                                        {{ user.profile.role }}</p>
                                </div>
                            {% endif %}

                            {% if user.profile.reprimand or user.profile.encouragement %}
                                <div class="about">
                                    <h5 class="mb-2 text-primary">Отметки</h5>
                                    <p>Поощерения/выговоры</p>

                                    {% calculate_pbar user.profile.reprimand user.profile.encouragement as pb_values %}

                                    <div class="progress" style="height: 20px;" >
{# TODO вот тут надо #}
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{ pb_values.reprimand }}%"
                                             aria-valuenow="{{ pb_values.reprimand }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                            {{ user.profile.reprimand }}
                                        </div>
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{ pb_values.encouragement }}%"
                                             aria-valuenow="{{ pb_values.encouragement }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                            {{ user.profile.encouragement }}
                                        </div>

                                    </div>
                                </div>
                            {% endif %}

                            {% if user.profile.awards %}
                                <div class="about">
                                    <h5 class="mb-2 text-primary">Награды</h5>
                                    {% for award in user.profile.awards.all %}
                                        <p>
                                            <a href="{{ award.get_absolute_url }}" target="_blank">
                                                {{ award.name }}
                                            </a>
                                        </p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <form action="{% url 'edit_profile' %}" method="post">
                            {% csrf_token %}
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-3 text-primary">Основыне данные</h6>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="{{ form_u.last_name.id_for_label }}">Фамилия</label>
                                        {{ form_u.last_name }}
                                        {#      <input type="text" name="{{ form_u.last_name.html_name }}"#}
                                        {#             id="{{ form_u.last_name.id_for_label }}" class="form-control"#}
                                        {#             autocomplete="off" required="" value="{{ user.last_name }}"#}
                                        {#             placeholder="Фамилия">#}
                                        {#  <input type="text" class="form-control" id="fullName" placeholder="Фамилия">#}
                                        <div class="invalid-feedback" style="display: block">
                                            {{ form_u.last_name.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="{{ form_u.first_name.id_for_label }}">Имя</label>
                                        <input type="text" name="{{ form_u.first_name.html_name }}"
                                               id="{{ form_u.first_name.id_for_label }}" class="form-control"
                                               autocomplete="off" required
                                               value="{{ user.first_name | default_if_none:"" }}" placeholder="Имя">
                                        <div class="invalid-feedback" style="display: block">
                                            {{ form_u.first_name.errors }}
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="{{ form_u.username.id_for_label }}">Логин</label>
                                        {#                                        {{ form_u.username }}#}
                                        <input type="text" name="{{ form_u.username.html_name }}"
                                               id="{{ form_u.username.id_for_label }}" class="form-control"
                                               autocomplete="off" required value="{{ user.username }}"
                                               placeholder="login">
                                        <div class="invalid-feedback" style="display: block">
                                            {{ form_u.username.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="{{ form_u.email.id_for_label }}">Почта</label>
                                        <input type="text" name="{{ form_u.email.html_name }}"
                                               id="{{ form_u.email.id_for_label }}" class="form-control"
                                               autocomplete="off"
                                               value="{{ user.email | default_if_none:"" }}"
                                               placeholder="example@gmail.com">
                                        <div class="invalid-feedback" style="display: block">
                                            {{ form_u.email.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-3 text-primary">Дополнительные данные</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="{{ form_p.team_alias.id_for_label }}">Позывной</label>
                                        <input type="text" name="{{ form_p.team_alias.html_name }}"
                                               id="{{ form_p.team_alias.id_for_label }}" class="form-control"
                                               autocomplete="off"
                                               value="{{ user.profile.team_alias | default_if_none:"" }}"
                                               placeholder="Твой позывной, боец!">
                                        <div class="invalid-feedback" style="display: block">
                                            {{ form_p.team_alias.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="{{ form_p.phone.id_for_label }}">Номер телефона</label>
                                        <input type="text" name="{{ form_p.phone.html_name }}"
                                               id="{{ form_p.phone.id_for_label }}" class="form-control"
                                               autocomplete="off"
                                               value="{{ user.profile.phone | default_if_none:"" }}"
                                               placeholder="88005553535">
                                        <div class="invalid-feedback" style="display: block">
                                            {{ form_p.phone.errors }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="{{ form_p.role.id_for_label }}">Роль в отряде</label>
                                        {{ form_p.role }}
                                        <div class="invalid-feedback" style="display: block;">
                                            {{ form_p.role.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="{{ form_p.vk_link.id_for_label }}">Ссылка на профиль ВК</label>
                                        <input type="text" name="{{ form_p.vk_link.html_name }}"
                                               id="{{ form_p.vk_link.id_for_label }}" class="form-control"
                                               autocomplete="off"
                                               value="{{ user.profile.vk_link | default_if_none:"" }}"
                                               placeholder="https://vk.com/skspiral">
                                        <div class="invalid-feedback" style="display: block;">
                                            {{ form_p.vk_link.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        <button type="submit" id="submit" name="submit" class="btn btn-primary">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}