<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Дополнительно</h3>
                    <ul>
                        <li><a href="#">Технологии</a></li>
                        <li><a href="#">Исходный код</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Контакты</h3>
                    <ul>
                        <li><a href="#">Вступить к нам</a></li>
                        <li><a href="#">Связаться</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col item social">
                    <a href="https://vk.com/sk.spiral" target="_blank"><i class="icon-social-vkontakte"></i></a>
                    <a href="https://www.instagram.com/at_spiral/" target="_blank"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">СК "Спираль" © 2021</p>
        </div>
    </footer>
</div>
